* {
    font-family: Calibri;
    font-size:20px;
}

header{
    background-color:#09587c
}
#content {
    width: 100%;
    position: relative;
    margin: auto;
}


#search_area{
    width:400px;
}


#users {
    background-color: #09587c;
    border: 0px;
}

#about {
    background-color: #09587c;
    border: 0px;
}


ul li {
    display: inline-block;
    text-align: center;
    margin-left:3%;
    margin-right:3%;
}






